@model IEnumerable<B05ASPC03_DataAnnotation.Models.Blog>
@{
    ViewBag.Title = "Index";
}
@Html.ActionLink("Add","Create","Blogs")
<h2>All Blogs</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Category.Name</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ImagePath</td>
            </tr>
        }
    </tbody>
</table>

